
#drop {
    border: none;
    font-size: 18px;
    margin-right: 40px;
    outline: none;
}

.fg-buttons:hover {
    background-color: rgb(112, 112, 112);
}


#register-container {
    margin-top: 20px;   
    height: 240px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 150px;
}

input {
    margin-top: 20px;
}

#sdst {
    font-size: 20px;
}

#reg-button {
    font-size: 18px;
    border: none;
    margin-top: 20px;
    padding: 6px 8px 8px 8px;
}

#reg-button:hover{
    background-color: rgb(112, 112, 112);
}

@media (max-width: 650px) {
    #register-container {
        margin-top: 60px;
    }
}