#g-button {
    letter-spacing: 1.8px;
    border: 2px solid rgb(255, 118, 118);
    padding: 4px 8px 50px 8px;
    margin-top: 20px;
}

#f-button {
    border: 2px solid rgb(121, 193, 218);
    padding: 4px 8px 50px 0px;
}

.fg-buttons {
    height: 35px;
    border: none;
    color: var(--main-color);
    font-size: 24px;
    outline: none;
}

#b-container {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    width: 320px;
    order: 0;
}

.fg-buttons:hover {
    background-color: rgb(112,112,112);
}


@media (max-width: 650px) {
    #b-container {
        margin-right: 0;
    }

    #real-b-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }
}
